body {
    margin:0 10%;
    font-family: sans-serif;
}
a {
    font-style: normal;
    text-decoration: none;
}
a:hover {
    color: black;
}
.colm-layout {
    background-color: aqua;
}

img {
    float: left;
    width: 80%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.col-1 {
    width: 50%;
    float: left;
}

/* .row {
    /* overflow:hidden; */
/* }  */

#row-2 {
    padding-top: 20%;
    margin: 10% 0;
}

#row-2 > .col {
    width: 25%;
    float: left;
}

#horizontal-colm .row {
    width: 100%;
    float: left;
}